body{
    width: 100vw;
    height: 100vh; 
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
}

main{
  height:100% ;
  /* overflow-y: scroll; */
}


.upper-container{
    height: 90%;
    background-color:rgb(254, 229, 193, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.b-ground{
  width: 60%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 10%;
  border-bottom-left-radius:2%;
}

.name{
    top:-110px;
    left: 155px;
    position: absolute;
   font-size: 110px;
   font-weight:400;
   font-family:'Luxurious Script', cursive ;
   letter-spacing: 4px;
   color:black;
}

.bg-image{
    position: relative;
    z-index: 1;
    opacity: 55%;
}

.bg-small{
    flex: 1;
    position: relative;
    /* justify-content: center; */
    gap: 10px;
    margin:0 6px;
    /* border: 1px solid black;  */
}

.small-img{
    width: 190px;
    height: 190px;
    z-index: 2;
    margin-top: -100px;
    margin-left: 140px;
    border-radius: 40%; 
}

h1{
    font-weight: normal;
    font-size: 20px;
    font-family: 'Inria', Serif;
    text-align: center;
    margin-left: 70px;
}

.personal-infor{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
    
}



button{
    position: absolute;
    bottom: 10px;
    /* width: 350px; */
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: large;
    font-family: serif;
    
}



.contact{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding: 2px;
}

.contact-img{
    width: 20px;
    height: 20px;
    padding: 10px;
    margin-left: 5px;
}

.lower-container{
    height: 9%;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-color:white; 
    /* font-size: 15px; */
    

}

@media (min-width: 1024px){         
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main{
        height:100% ;
       width: 30%;
       overflow-y: hidden;
      }
      
   button{
    padding: 15px;
    font-size: 20px;
   }
    
   .name{
    top:-120px;
    left: 170px;
    font-size: 120px;
    font-weight:400;
    letter-spacing: 1px;
}

.contact{
    gap:10px;
    padding: 2px;
}

.contact-img{
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-left: 5px;
}
 
.contact-text{
    font-size: 14px;
}

.personal-infor{
    margin-top: 10px;
    
}


}