body{
    width: 100vw;
    height: 100vh; 
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

main{
  height:100% ;
  background-color: green;
}


.upper-container{
    /* width: 100%; */
    height: 90%;
    background-color:rgb(254, 229, 193);
    /* opacity: 50%; */
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.b-ground{
  width: 60%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 10%;
  border-bottom-left-radius:2%;
}

.name{
    top:-110px;
    left: 155px;
    position: absolute;
   font-size: 110px;
   font-weight:400;
   font-family:'Luxurious Script', cursive ;
   letter-spacing: 4px;
   color:black;
}

.bg-image{
    position: relative;
    z-index: 1;
    opacity: 55%;
}

.bg-small{
    flex: 1;
    position: relative;
    gap: 10px;
    /* border: 1px solid red; */
}

.small-img{
    width: 190px;
    height: 190px;
    z-index: 2;
    margin-top: -100px;
    margin-left: 140px;
    border-radius: 40%; 
}

h1{
    font-weight: normal;
    font-size: 20px;
    font-family: 'Inria', Serif;
    text-align: center;
    margin-left: 70px;
}

.personal-infor{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact{
    /* border: 2px solid green;  */
    padding: 2px;
    
}

button{
    position: absolute;
    bottom: 10px;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: large;
    font-family: serif;
    margin: auto;
}



.contact{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.contact-img{
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px green;
    margin-left: 5px;
}

.lower-container{
    height: 20%;
    text-align: center;
    padding: 4px;
    background-color:white;
    font-size: 15px;
    

}

@media (min-width: 1024px){         
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main{
        height:100% ;
       width: 30%;
      }
      
   button{
    width: 460px;
   }
    
   .name{
    top:-110px;
    left: 198px;
    font-size: 128px;
    font-weight:400;
    letter-spacing: 3px;
}


}